.container
  article
    .speaker-list
      .grid
        //
          <div class="grid-item grid-title">
          <div class="grid-inner"><a href="/speakers"><span>More</span> Speakers</a></div>
          </div>
        each speaker in speakers
          .grid-item.photo
            .grid-inner(style=`background-image: url('/img/people/${speaker.img}')`)
              .speaker-meta-box
                //- .speaker-meta.grid-layout
                  //- a(href=`/speakers/${speaker.shortname}`)
                    //- p.speaker-name= speaker.name
                  //- p.speaker-affiliation= speaker.affiliation
                  //- p.speaker-details= speaker.details
            .speaker-meta-visible
              //- a(href=`/speakers/${speaker.shortname}`)
              p.speaker-name=speaker.name
              p.speaker-affiliation
                !=speaker.affiliation
              p.speaker-details
                !=speaker.details
          .speaker-topic
            h3.speaker-name= speaker.name
            h4.speaker-title= speaker.title
            p.speaker-abstract= speaker.summary
